[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Puppet module to manage Gerrit
[access "refs/*"]
	owner = group user/Andrew Grimberg (tykeal)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Andrew Grimberg (tykeal)
	label-Verified = -1..+1 group user/Andrew Grimberg (tykeal)
	push = group user/Andrew Grimberg (tykeal)
	read = group user/Andrew Grimberg (tykeal)
	rebase = group user/Andrew Grimberg (tykeal)
	removeReviewer = group user/Andrew Grimberg (tykeal)
	submit = group user/Andrew Grimberg (tykeal)
[access "refs/heads/*"]
	create = group user/Andrew Grimberg (tykeal)
	push = +force group user/Andrew Grimberg (tykeal)
	pushMerge = group user/Andrew Grimberg (tykeal)
	read = group user/Andrew Grimberg (tykeal)
[access "refs/tags/*"]
	push = group user/Andrew Grimberg (tykeal)
	push = +force group user/Andrew Grimberg (tykeal)
[receive]
